
<div class="container">
  <h2>All our Flats (<%= @flats.count %>)</h2>

  <div class="list-flats d-flex flex-row flex-wrap mb-3">
    <% @flats.each do |flat| %>
      <div class="card me-5 mt-3 p-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
          <div class="d-flex flex-row ">
            <p class="card-text me-4"><i class="fa-solid fa-user-group"></i><%= flat.number_of_guests %></p>
            <p class="card-text me-4"><i class="fa-solid fa-euro-sign"></i><%= flat.price_per_night %></p>
          </div>
          <div class="d-flex flex-row ">
            <p><%= link_to "More info", flat_path(flat.id), class: "card-link text-decoration-none me-3" %></p>
            <p><%= link_to "Edit", edit_flat_path(flat.id), class: "card-link text-decoration-none" %></p>
            <p><%= link_to "Delete",
                flat_path(flat.id), class: "card-link text-decoration-none ms-3",
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}
              %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
